<!DOCTYPE html>
<html>
<head>
  <title>Jeff Stagg - Freelance Web Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		Jeff Stagg - Freelance Web Developer
	</header>

	<%= yield %>

	<footer>
		Contact me on Github or other things
	</footer>

</body>
</html>
